import React from 'react';
import css from './{{pascalCase name}}.module.css';

interface {{pascalCase name}}Prop {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Prop> = () => {
  return (
    <div className={css.root}>
        {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};
